$base-color:  #c5e5f8;
$pre-color:  #5483B3;
$out-color: #052659;
$head-color: #021024;
$main-color: #7DA0CA;

nav.nav {
    position: sticky;
    top: 1vh;
    user-select: none;
    display: flex;
    background-color: $pre-color;
    border-radius: 1vh;
    padding: 2vh;
    margin-bottom: 2vh;

    h2 {
        font-size: medium;
    }
            
    ul {
        display: flex;
        justify-content: flex-end ;
        align-items: center;
        gap: 2vh;
        margin: 0;
        li {
            display: flex;
            align-items: center;
            background-color: $out-color;
            border-radius: 2vh;
            padding: 0 4vh;
        }
    }

    .position{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .values {
        display: flex;
        align-items: center;
        gap: 2vh;
        padding-left: 2vh;
        h2 {
            color: $out-color;
            margin: 0;
        }
        img {
            width: 2.7vh;
            height: 2.7vh;
        }
    }
}

.container-welcome-page {
    padding: 5vh;
    width: 120vh;
    margin: 0 auto;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1.5vh;
    grid-template-areas:
      "inf inf inf inf inf"
      "maininfo maininfo maininfo maininfo maininfo"
      "maininfo maininfo maininfo maininfo maininfo"
      "maininfo maininfo maininfo maininfo maininfo"
      "maininfo maininfo maininfo maininfo maininfo"
      "maininfo maininfo maininfo maininfo maininfo"
      "maininfo maininfo maininfo maininfo maininfo"
      "maininfo maininfo maininfo maininfo maininfo"
} 
  
.add-info { 
    grid-area: inf; 
    background-color: $pre-color;
    padding: 2vh;
    border-radius: 2vh;
    overflow-y: auto;
}
  
.main-info { 
    grid-area: maininfo; 
    background-color: $pre-color;
    border-radius: 2vh;
    padding: 2vh;
    height: 90vh;
}

.no-words{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $out-color;
    border-radius: 4vh;
    padding: 5vh 6vh;
    width: fit-content;
}

.no-words-img {
    img {
        width: 25vh;
        height: 25vh;
    }
}  

.text {
    text-align: center;

    h3 {
        margin-bottom: 3vh;
    }

    h3, button {
        color: $main-color;
    }
}

.text-btn {
    background-color: $head-color;
    padding: 1vh 4vh;
}

.no-words-wrap {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set-words-wrap {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    gap: 3vh;
}


.set-words, .get-translation{
    background-color: $out-color;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6vh 0vh;
    width: 40%;
    input, output {
        display: flex;
        align-items: center;
        height: 2vh;
        width: 60%;
        margin-bottom: 2vh;
    }
    
    output{
        overflow-x: auto;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.in-h3 {
    color: $main-color;
}

.words {
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.word {
    margin: 1vh 0.5vh 2vh 0.5vh;
    background-color: $out-color;
    border-radius: 2vh;
    padding: 1vh;
    width: 15vh;
    h5 {
        text-align: center;
        color: $main-color;
    }
}

.learning-container {
    margin: 10vh auto 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        width: 7vh;
        height: 7vh;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 6vh;
            width: 6vh;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $out-color;
    padding: 4vh;
    border-radius: 2vh;
    height: 40vh;
    width: 100%;
    h3 {
        text-align: center;
        color: $base-color;
        padding: 0 2vh;
    }
}

.button-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    .start-learning-button {
        background-color: $out-color;
        font-size: large;
    }
}

.word-div {
    border-radius: 2vh;
    background-color: #5483B3;
    margin-top: 10vh;
}

.header h2 {
    width: fit-content;
    padding: 0 3.5vh;
    border-radius: 2vh;
    background-color: $out-color;
}
.stats{
    display: flex;
    gap: 2vh;
    h5 {
        width: 15vh;
        text-align: center;
        background-color: $out-color;
        color: $main-color;
        padding: 2vh;
        border-radius: 2vh;
        margin-bottom: 1vh;
    }
}

.hidden-text {
    opacity: 0;
}

.card-controls{
    display: flex;
    justify-content: center;
    button.show-trns {
        margin-top: 2vh;
        font-size: medium;
        padding: 1vh 8vh;
        height: auto;
        background-color: $out-color;
    }
}
